{% extends "base.html" %}
{% load static %}
{% block title %}Acceso técnicos{% endblock %}
{% block extra_css %} <link rel="stylesheet" href="{% static 'usuarios/css/login.css' %}"> {% endblock %}

{% block content %}
<main class="vh-100 d-flex align-items-center justify-content-center">
<section>
    <div class="container p-5 rounded shadow-sm login-card" style="background-color: #FFF">
        <div class="row">
            <div class="col-12">
                <h1 class="mb-2">Iniciar Sesión</h1>
                <p class="form-subtitle fst-italic mb-4" style="line-height: 0.95rem; color: #6f6f6f; font-size: 0.9rem;">Ingresa con tu correo y contraseña<br>para acceder al panel técnico.</p>

                    {% if form.non_field_errors %}
                        <div class="alert alert-danger mb-3" style="font-size: 0.8rem;">
                            {% for error in form.non_field_errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form method="post" action="{% url 'login_tecnico' %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label style="font-weight: 500; color: #1f1f1f;" for="{{ form.username.id_for_label }}">Correo electrónico</label>
                            <input 
                            type="email"
                            name="username"
                            placeholder="Ingrese su correo electrónico"
                            class="form-control"
                            value="{{ form.username.value|default:'' }}">
                            {% if form.username.errors %}
                                <div class="error-message" style="margin-top: 0.5rem; margin-bottom: 0;">
                                    {% for error in form.username.errors %}
                                        <div style="color: rgb(132, 0, 0); font-size: 0.9rem;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group mt-3">
                            <label style="font-weight: 500; color: #1f1f1f;" for="{{ form.password.id_for_label }}">Contraseña</label>
                            <input 
                            type="password"
                            name="password"
                            placeholder="Ingrese su contraseña"
                            class="form-control">
                            {% if form.password.errors %}
                                <div class="error-message" style="margin-top: 0.5rem; margin-bottom: 0;">
                                    {% for error in form.password.errors %}
                                        <div style="color: rgb(132, 0, 0); font-size: 0.9rem;">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <button type="submit" class="btn-enviar btn w-100 text-white mt-3">Ingresar<i class="bi bi-caret-right-fill ms-2"></i></button>
                    </form>
            </div>
        </div>
    </div>
    <div class="login-footer d-flex align-items-center justify-content-center mt-3" style="z-index: 10;">
        <a href="{% url 'portal_publico' %}"><i class="bi bi-chevron-left me-1"></i>Volver al inicio</a>
    </div>
</section>
</main>
{% endblock %}
