<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Confirmar borrado de dispositivo</title>
  </head>
  <body>
    <h1>¿Borrar dispositivo?</h1>

    <p>
      ¿Seguro que quieres borrar el dispositivo:
      <strong>{{ dispositivo.alias }} ({{ dispositivo.marca.nombre }})</strong>?
    </p>

    <form method="post">
      {% csrf_token %}
      <button type="submit">Sí, borrar</button>
      <a href="{% url 'dispositivos_lista' %}">Cancelar</a>
    </form>
  </body>
  </html>


